body {
  padding-top: 50px;
  padding-bottom: 50px;
}
.starter-template {
  padding: 40px 17px;
  margin : 0 0 10px 0;
  text-align: center;

}
.ol_format {
  margin : 5% 10%;
}
.ol_format > li{
  margin: 0 0 3px 0;
}

.ol_format_bold >li{
  font-weight: bold;
}
.own-header{
	font-size:64px !important
}

@media (min-width: 768px)
.navbar-nav>li>p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-nav>li>p {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.nav>li>p {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.coding-icons span{
  padding : 2px 10px;
  list-style:  : none;
  display : inline;
  border: 1px solid #3F84CC;
  color : #3F84CC;
  border-radius: 12px;
  margin: 5px;
  line-height: 40px;

}

.toc{
  list-style-position: inside;
  vertical-align: baseline;
  padding-left: 20px;
  margin : 20px;
}

.toc > li{
  margin: 0 0 3px 0;

}
.fix-height{
  max-height: 50px;
  min-height: 50px;
}
.boxed {
  border: 1px solid #000;
}
/* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -40px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 40px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

